.nav-container {
    height: 40px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    padding: 10px 50px;
}

.nav-container > a {
    margin: 20px;
    color: white;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-container > a:hover {
    text-decoration: underline;
}